.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-header {
  width: 100%;
  padding: 10px;
  background-color: #b5ae7b;
  color: black;
  text-align: left;
}

.App-header h1 {
  margin: 0;
  padding-left: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.upload-card {
  width: 100%;
  max-width: 600px;
  margin: 20px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.chart-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.chart-card {
  flex: 1 1 45%;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  max-width: 45%;
  
}

.card-title {
  margin-bottom: 15px;
}
